@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.wrap {
  width: 400px;
  height: 250px;
}

.aside {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}

.main {
  float: right;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  width:400px;
  height: 100px;
  background-color: #d98d30;
}