body {
  margin: 0;
  padding: 0;
  background-color: #808080;
  font-family: serif;
  color: #fff;
  text-align: center;
}

hr {
  background-color: #fff;
}

h1 {
  margin-top: 200px;
  margin-bottom: 0;
}



form {
  margin-top: 50px;
}